node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
*.log
frontend.log
.git
.gitignore
.vscode
.idea
.DS_Store
README.md
INSTRUCCIONES_HU1.txt
deploy.sh
Dockerfile
.dockerignore
docker-compose.yml
nginx
